@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#movieContents {
    flex-direction: column;
}

#movie {
    width: 90%;
    overflow: scroll;
    margin: auto;
}

#movieTablei {
    display: flex;
    flex-wrap: wrap;
	padding: 1rem;
	margin-top: 5rem;
	top: 0;
	left: 0;
}
